@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav h2 {
    text-transform: uppercase;
    color: orange;
}

.nav button {
    padding: 10px 20px;
    border: 1px solid orange;
    background-color: orange;
    color: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
}

.summary {
    text-align: center;
    padding: 20px 10px;
}

.summary p {
    color: dimgray;
    font-style: 17px;
}
